<ion-content>
    <ion-back-button (click)="loadedSets = 0" defaultHref="/workouts"></ion-back-button>
    <ion-row>
        <div class="timer">
            <svg
                width="50vh"
                height="50vh"
                viewBox="0 0 200 200"
            >
                <linearGradient
                    id="linearColors1"
                    x1="0"
                    y1="0"
                    x2="1"
                    y2="1"
                >
                    <stop
                        offset="0%"
                        stop-color="#ddd6f3"
                    ></stop>
                    <stop
                        offset="100%"
                        stop-color="#faaca8"
                    ></stop>
                </linearGradient>
                <circle
                    cx="50%"
                    cy="50%"
                    [attr.r]="circleR"
                    fill="none"
                    stroke="#f3f3f3"
                    stroke-width="12"
                ></circle>
                <circle
                    cx="50%"
                    cy="50%"
                    [attr.r]="circleR"
                    fill="none"
                    stroke="url(#linearColors1)"
                    stroke-width="12"
                    stroke-linecap="round"
                    [attr.stroke-dasharray]="circleDasharray"
                    [attr.stroke-dashoffset]="percentageOffset(percent | async)"
                ></circle>
            </svg>
            <div class="timer-text"> {{ time | async }}</div>
        </div>
    </ion-row>
</ion-content>
<ion-footer>
  <h1 class="ion-text-center" *ngIf="loadedSets >= loadedExercise.sets">FINISHED EXERCISE</h1>
    <ion-button
        [disabled]="loadedSets === loadedExercise.sets"
        *ngIf="state === 'stop'" 
        expand="block"
        color="primary"
        (click)="startTimer(this.loadedExercise.rest_time)"
    >
        START
    </ion-button>
    <ion-button
        *ngIf="state === 'start'"
        expand="block"
        color="danger"
        (click)="stopTimer()"
    >
        STOP
    </ion-button>
    <!-- <ion-button
    expand="block"
    color="danger"
    (click)="playSound()"
>
    STOP
</ion-button> -->

</ion-footer>
