.timer{
    position: relative;
    margin: auto;
    margin-top: 54px;
}
.timer-text{
    // transform: rotate(90deg);
    transform-origin: center;
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
    color: #333;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
svg{
    width: auto;
    margin: auto;
    display: block;
}