<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="putWorkouts()"> save</ion-button>
    <ion-button (click)="fetchWorkouts()"> fetch</ion-button>
    <ion-title>workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <app-google-login></app-google-login>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['./', 'new']">new</ion-button>
  </ion-item>
  <app-loading-spin *ngIf="showSpinner"></app-loading-spin>
  <ion-list>
    <ion-item *ngFor="let workout of workouts" [routerLink]="['./', workout.id]">
      <ion-label> {{workout.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
